<div class="container">

  <div class="section_profile_info">
    <div class="user_info container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 padding">
          <img src="http://filestore.c100.hasura.me/v1/file/e0dc9972-2058-4c52-9d32-ca6d449d3a8a" class="img-responsive profile_img">
        </div>
        <div class="col-lg-9 col-md-9 mid">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h3>{{user_stats.username}}</h3>
            </div>
            <div class="col-md-12 col-lg-12">
              <h3>Description</h3>
            </div>
          </div>

        </div>
        <!-- <div class="col-lg-3 col-md-3 mid">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="btn btn-primary">
                  Upload <input type="file" style="display: none;">
              </label>
            </div>

          </div>
        </div> -->
      </div>
    </div>

    <div class="user_stats container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <h3>Posts: {{user_stats.user_posts}} <span class="{{#if user_stats.user_posts}}hide{{/if}}"> 0</span></h3>
        </div>
        <div class="col-lg-4 col-md-4">
          <h3>Followers: {{user_stats.user_followers}} <span class="{{#if user_stats.user_followers}}hide{{/if}}"> 0</span></h3>
        </div>
        <div class="col-lg-4 col-md-4">
          <h3>Following: {{user_stats.user_following}} <span class="{{#if user_stats.user_following}}hide{{/if}}"> 0</span></h3>
        </div>
      </div>
    </div>

  </div>

  <div class="section_profile_photos">
    <div class="row">

      {{#if images}}
        {{#each images}}
          <div class="user_post col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
              <img src="http://filestore.c100.hasura.me/v1/file/{{this.content}}" class="img-responsive"
              data-toggle="modal" data-target="#myModal" data-photoid={{this.id}} data-likes={{this.no_likes}} >
          </div>
        {{/each}}
      {{/if}}

      <div class="col-md-12 col-lg-12 default_container {{#if images}}hide{{/if}}">
        <h1 class="text-center">Welcome User,No Post to show yet</h1>
      </div>

      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-responsive modal_img" src=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
                    <button type="button" class="btn btn-success" id="like_btn"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like  <span id="like_badge"></span></button>
                </div>
            </div>
        </div>
      </div>


    </div>
  </div>


</div>
