<div class="container">

  <div class="section_profile_info">
    <div class="user_info container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 padding">
          {{#if user_stats.profile_image_link}}
          <img src="http://filestore.app.hasura.me/v1/file/{{user_stats.profile_image_link}}" class="profile_img">
          {{else}}
          <img src="http://filestore.app.hasura.me/v1/file/e0dc9972-2058-4c52-9d32-ca6d449d3a8a" class="profile_img">
          {{/if}}
            <div class=" prof_img_btn_div">
              <input type="file" name="img[]" id="profile_file" accept="image/*">
              <div class="input-group">
                <span class="input-group-btn">
                <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> <span class="br_btn_text">Browse</span></button>
                </span>
                <span class="input-group-btn">
                <button class="upload btn btn-info" type="button"><i class="glyphicon glyphicon-upload"></i> <span id="pp_up_btn_text">Upload</span></button>
                </span>
              </div>
            </div>
            <input type="text" class="form-control" disabled placeholder="Upload Profile Image">
        </div>
        <div class="col-lg-9 col-md-9 mid">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <h3>{{user_stats.username}}</h3>
              <!-- <button class="btn btn-info" type="button" id="postup_btn"> Post a pic</button> -->
            </div>
            <div class="col-md-3 col-lg-3 col-md-offset-3">
              <!-- <h3>Description</h3> -->
              <button class="btn btn-info" type="button" id="postup_btn" data-toggle="modal" data-target="#upload_modal"><i class="glyphicon glyphicon-picture"></i> Post a pic</button>
            </div>
            <div class="col-md-12 col-lg-12">
              <h3>
                Some Default Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </h3>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="user_stats container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <h3>Posts: {{user_stats.posts}} <span class="{{#if user_stats.posts}}hide{{/if}}"> 0</span></h3>
        </div>
        <div class="col-lg-4 col-md-4">
          <a href="/following_list">
            <h3>Followers: {{user_stats.follower_count}} <span class="{{#if user_stats.follower_count}}hide{{/if}}"> 0</span></h3>
          </a>
        </div>
        <div class="col-lg-4 col-md-4">
          <a href="/follower_list">
            <h3>Following: {{user_stats.following_count}} <span class="{{#if user_stats.following_count}}hide{{/if}}"> 0</span></h3>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="{{#if images}}well{{/if}} section_profile_photos">
    <div class="row">

      {{#if images}}
        {{#each images}}
          <div class="user_post col-lg-4 col-md-4">
              <img src="http://filestore.app.hasura.me/v1/file/{{this.content}}" class="img-responsive feed_img"
              data-toggle="modal" data-target="#myModal" data-photoid={{this.id}} data-likes={{this.no_likes}} >
          </div>
        {{/each}}
      {{/if}}

      <div class="col-md-12 col-lg-12 default_container {{#if images}}hide{{/if}}">
        <h1 class="text-center">Welcome, No Post to show yet</h1>
      </div>

      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-responsive modal_img" src=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary disabled" id="like_btn"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Likes:  <span id="like_badge" class="badge"></span></button>
                    <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
                </div>
            </div>
        </div>
      </div>

      <div id="upload_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-center">Upload a picture</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
                  <input type="file" name="img[]" id="up_file" accept="image/*">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" id="feed_pic_browse_btn"><i class="glyphicon glyphicon-folder-open"></i> <span class="feed_file_br_text"> Browse</span></button>
                    </span>
                    <input type="text" class="form-control feed_sel_fname"  disabled placeholder="Upload a pic">
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-info" id="feed_file_upload_btn"><i class="glyphicon glyphicon-upload"></i> Upload</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


    </div>
  </div>


</div>
